node_modules
.DS_Store
dist
.nyc_output
coverage
test-reports
stats.html
data
.env
# package-lock.json

# Lua
**/luarocks
**/lua
**/lua_modules
**/.luarocks/luarocks
/lua
/lua_modules
/.luarocks

# odin
src.bin

# via vite create:

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
