node_modules
.DS_Store
dist
.nyc_output
coverage
test-reports
stats.html
data
.env
# package-lock.json

# Lua
**/luarocks
**/lua
**/lua_modules
**/.luarocks/luarocks
/lua
/lua_modules
/.luarocks

# odin
src.bin